{% extends "index.html" if not is_content_only else "content_only_base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/libs/leaflet/leaflet.css">
<link rel="stylesheet" href="/static/libs/datatables/datatables.min.css">

<h2>Dashboard</h2>
<div id="dashboard-container">
    <div id="dashboard-map">
        <h3>Map</h3>
        <div id="map"></div>
    </div>
    <div id="dashboard-data">
        <h3>Sensors</h3>
        <table id="pressureTable" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be added here dynamically -->
            </tbody>
        </table>
        <table id="angleTable" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be added here dynamically -->
            </tbody>
        </table>
    </div>
</div>

<script src="/static/libs/jquery/jquery-3.7.1.min.js"></script>
<script src="/static/libs/datatables/datatables.min.js"></script>
<script src="/static/libs/leaflet/leaflet.js"></script>
<script src="/static/js/dashboard.js"></script>
{% endblock %}
