<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web App</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        {% include 'sidebar.html' %}
        <main id="content">
            <!-- Content will be loaded here dynamically -->
        </main>
    </div>
    <footer>
        <p style="font-size: x-small;">&copy; 2025 RockMeter Made by Ascolab</p>
        <div id="connection-status"></div>
    </footer>

    <script src="/static/js/connection.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
