<h2>Logger</h2>
<!-- Logger content will go here -->
<div id="controls">
   <button id="toggleRecording">Start Recording</button>
   <div id="recorderSpin" class="recorderSpin" style="display: none;"></div>
   <!--
   <button id="toggleRecordingCandump">Start Recording Candump</button>
   <div id="recorderCanDumpSpin" class="recorderSpin" style="display: none;"></div>
   <button id="toggleRecordingPythonCan">Start Recording with PythonCAN</button>
   <div id="recorderPythonCanSpin" class="recorderSpin" style="display: none;"></div>
   <button id="quitButton">Quit</button>
    -->
</div>
<div class="log_container">
    <div id="files-panel">
        <h3>Contenu du dossier : {{ current_path or '/' }}</h3>
        <div id="ext-filter">
            <label for="extension-filter">Filtrer par extension :</label>
            <select id="extension-filter" onchange="filterFiles()">
                <option value="">Tous</option>
                {% for ext in extensions %}
                <option value="{{ ext[1:] if ext.startswith('.') else ext }}">{{ ext }}</option>
                {% endfor %}
            </select>
        </div>

        <table id="filenameTable">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Taille</th>
                    <th>Status</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                <!-- Lien pour remonter au dossier parent -->
                {% if current_path %}
                <tr>
                    <td><a href="/logger/{{ '/'.join(current_path.split('/')[:-1]) }}">..</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}

                {% for dir in dirs %}
                <tr>
                    <td><a href="/logger/{{ (current_path + '/' + dir) if current_path else dir }}">{{ dir }}</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}

                {% for file, file_size in files.items() %}
                <tr class="file-row" data-ext="{{ file.split('.')[-1] if '.' in file else '' }}">
                    <td onclick="openFile('{{ file }}', '{{current_path }}', this )">{{ file }}</td>
                    <td>{{ file_size }} octets</td>
                    <td><span class="file-status"></span></td>
                    <td>
                        <a href="/download/{{ (current_path + '/' + file) if current_path else file | b64encode }}"
                            class="download-btn">⬇️</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="loader-container">
        <div id="loader" class="loader" style="display: none;"></div>
    </div>
    <div id="plotly-panel">
    </div>
</div>
