<h2>Map</h2>
<!-- Logger content will go here -->

<div id="controls">
    <!-- <label><input type="checkbox" id="toggleHardness" checked> Afficher la dureté</label> -->
    <label><input type="checkbox" id="toggleHardness"> Afficher la dureté</label>
    <label>
        Fond de carte:
        <select id="mapType">
            <option value="plan">Plan</option>
            <option value="satellite">Satellite</option>
        </select>
    </label>
    <button id="resetMapView">Reset zoom carte</button>
    <!-- <button id="resetPlotView">Recalculer la vue du 3D</button> -->
</div>
<div class="row-container">
    <!-- Conteneur pour la carte -->
    <div id="map"></div>
    <!-- Conteneur pour le graphique Plotly -->
    <div id="plotly-3Dgraph" class="plotly-container"></div>
</div>
